.project-content {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.title-container {
    height: 30%;
    width: 100%;
}

.title-content {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    top: 10%;
    left: 3%;
}

#projects-pre-title {
    font-size: 1.2rem;
    font-family: 'IBM Plex Sans';
}

#projects-title {
    font-size: 5rem;
}

@media only screen and (max-width: 768px) {
    #projects-pre-title {
        font-size: 1.2rem;
        width: calc(100% - 120px);
    }
    
    #projects-title {
        font-size: 4rem;
    }
}

@media only screen and (max-width: 500px) {
    #projects-pre-title {
        font-size: 1rem;
    }
    
    #projects-title {
        font-size: 3rem;
    }
}


@media only screen and (max-width: 375px) {
    #projects-pre-title {
        font-size: 1rem;
    }
    
    #projects-title {
        font-size: 2.5rem;
    }
}