.card-root-foreground {
    min-height: 400px;
    min-width: 500px;
    background-color: white;
    transition: 1s ease;
    max-width: 500px;
}

.card-root-background {
    min-height: 320px;
    min-width: 400px;
    max-width: 400px;
    background-color: rgba(0, 0, 0, 0.541);
    transition: 1s ease;

}

.card-root {
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 10px;
    background-image: url('../../../images/puppy.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #0000007e;
}

.carousel-card-span {
    font-size: 1.2rem;
    font-family: 'IBM Plex Sans';
}

.carousel-card-text {
    padding: 10px;
    height: 50px;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    box-sizing: border-box;
    background-color: #0000007e;
    display: flex;
    flex-direction: column;
    transition: 0.1s ease;
    justify-content: space-between;
}

.carousel-card-text-hover {
    height: auto;
    transition: 0.1s ease;
}

.click-here:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 768px) {
    .card-root-foreground {
        min-height: 300px;
        min-width: 400px;
        background-color: white;
        transition: 1s ease;
        max-width: 500px;
    }
    
    .card-root-background {
        min-height: 220px;
        min-width: 300px;
        max-width: 300px;
        background-color: rgba(0, 0, 0, 0.541);
        transition: 1s ease;
    
    }

    .card-root {
        margin-left: 15px;
        margin-right: 15px;
        border-radius: 10px;
        background-image: url('../../../images/puppy.jpg');
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background-color: #0000007e;
    }
    
}


@media only screen and (max-width: 500px) {
    .card-root-foreground {
        min-height: 200px;
        min-width: 300px;
        background-color: white;
        transition: 1s ease;
        max-width: 500px;
    }
    
    .card-root-background {
        min-height: 120px;
        min-width: 200px;
        max-width: 200px;
        background-color: rgba(0, 0, 0, 0.541);
        transition: 1s ease;
    
    }

    .card-root {
        margin-left: 15px;
        margin-right: 15px;
        border-radius: 10px;
        background-image: url('../../../images/puppy.jpg');
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background-color: #0000007e;
    }
    
}